[workspace]
name = "nbref"
version = "0.1.0"
description = "nbref project"
authors = ["nbref"]
channels = ["conda-forge"]
platforms = ["osx-arm64", "linux-64", "win-64"]

[environments]
default = ["py", "js", "java", "py-dev"]
py = ["py"]
js = ["js"]
py-dev = ["py-dev"]
java = ["java"]

[feature.py.dependencies]
python = "3.12.*"
nbconvert = ">=7.16.6,<8"
toolz = ">=1.1.0,<2"
markdown-it-py = ">=4.0.0,<5"
linkify-it-py = ">=2.0.3,<3"
mdit-py-plugins = ">=0.5.0,<0.6"
bs4 = ">=4.14.3,<5"
python-slugify = ">=8.0.4,<9"

[feature.py.tasks]
convert = "python -m nbconvert --to nbref.nbconvert.AriaExporter"

[feature.js.dependencies]
nodejs = "25.*"

[feature.js.tasks]
test-axe = "npx axe"

[feature.java.dependencies]
vnu-validator = ">=24.10.17,<25"

[feature.java.tasks]
test-html = "vnu"

[feature.py-dev.dependencies]
flit = ">=3.11.0,<4"

[dependencies]
pip = ">=25.3,<26"
